.banner {
    position: relative;
    width: 100vw;
    height: 356px;
    background-color: darkgray;
    background-position: center;
    background-size: cover;
    margin: 0;
}



.title-panel {
    background-color: white;
    border-radius: 37px 37px 0 0;
    font-size: 50px;
    height: 150px;
    margin: 0 auto;
    margin-top: 220px;
    max-width: 500px;

}

.title-panel h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container-fluid {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }